@charset "UTF-8";
@import "styleui/grid.scss";
@import "styleui/examplex.scss";

/*
GENERAL
*/
$azul: #006AB8;
$celeste: #41B5E7;
$magenta: #FF005B;
$gris: #C4C4C4;
$gris-oscuro: #828282;


/*Fonts Omnes*/
.omnes-black {
  font-family: "Omnes Black";
}
.omnes-bold {
  font-family: "Omnes Bold";
}
.omnes-extralight {
  font-family: "Omnes Extralight";
}
.omnes-light {
  font-family: "Omnes Light";
}
.omnes-medium {
  font-family: "Omnes Medium";
}
.omnes-regular {
  font-family: "Omnes Regular";
}
.omnes-semibold {
  font-family: "Omnes Semibold";
}
