@font-face {
    font-family: "Omnes Black";
    src: url("#{$omnes-font-path}omnes-black.otf");
}
@font-face {
    font-family: "Omnes Bold";
    src: url("#{$omnes-font-path}omnes-bold.otf")
}
@font-face {
    font-family: "Omnes Extralight";
    src: url("#{$omnes-font-path}omnes-extralight.otf");
}
@font-face {
    font-family: "Omnes Light";
    src: url("#{$omnes-font-path}omnes-light.otf");
}
@font-face {
    font-family: "Omnes Medium";
    src: url("#{$omnes-font-path}omnes-medium.otf");
}
@font-face {
    font-family: "Omnes Regular";
    src: url("#{$omnes-font-path}omnes-regular.otf");
}
@font-face {
    font-family: "Omnes Semibold";
    src: url("#{$omnes-font-path}omnes-semibold.otf");
}
